body{
    background-color: rgb(59, 59, 223);
    font: normal 15pt Arial;

}
header{
 color: white;
 text-align: center;

}
div{
    font: normal l 15pt Arial;
    text-align: center;
    padding: 8px; /* Da estaçamento entre os campos*/
    
}
section{
    background-color: white;
    border-radius: 15px; /*arrendondamento de fundo*/
    padding: 10px; /*  diferença das bordas  */
    width: 500px;/*largura*/
    margin: auto; /*centralizar*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.842);


}
footer{
    color: white;
    text-align: center;
    font-style:italic;

}